@model AddMappingInputModel

@{
    ViewData["Title"] = "Create a new mapping";
    ViewData["Message"] = $"This creates a new mapping for {Model.Series.Title}";
}

<form asp-action="AddMapping" class="row" method="post">

    @Html.HiddenFor(x => x.SeriesId)

    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Add a new mapping</h5>
                <h6 class="card-subtitle mb-2 text-muted">Please enter the information below</h6>

                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-2 col-form-label" asp-for="SearchTerm"></label>
                            <div class="col-sm-10">
                                <input asp-for="SearchTerm" class="form-control" />
                                <small asp-description-for="Name" class="form-text text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </div>


</form>